[Desktop Entry]
Name=IntelliJ
Path=/home/jens/opt/intellij/current/
Exec=/home/jens/opt/intellij/current/bin/idea.sh
Icon=/home/jens/opt/intellij/current/bin/idea.png
